{% extends "_layouts/cp" %}

{% set crumbs = [
	{ label: "Settings"|t('videos'), url: url('settings') },
	{ label: "Plugins"|t('videos'), url: url('settings/plugins') },
	{ label: "Videos"|t('videos'), url: url('videos/settings') },
	{ label: gateway.name, url: url('videos/settings/'~gateway.handle) }
] %}

{% set title = "{gateway} OAuth Settings"|t('videos', { gateway: gateway.name }) %}

{% import "_includes/forms" as forms %}

{% set content %}

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		{{ csrfInput() }}

		<input type="hidden" name="action" value="videos/settings/save-gateway">
		{{ redirectInput('videos/settings/'~gateway.handle) }}
		<input type="hidden" name="gatewayHandle" value="{{ gateway.handle }}">

		<h3>{{ 'Create the OAuth application'|t('videos') }}</h3>
		<p>{{ 'Go to the {link} and create a new app.'|t('videos', {link: '<a href="https://developer.vimeo.com/apps">'~'{oauthProvider} API Console'|t('videos', { oauthProvider: gateway.oauthProviderName })~'</a>'})|raw }}</p>
		<p>{{ "Setup the app OAuth settings with the following parameters:"|t('videos') }}</p>

		<ul class="bullets">
			<li><strong>Javascript Origin:</strong> <code>{{ gateway.javascriptOrigin }}</code></li>
			<li><strong>Redirect URI:</strong> <code>{{ gateway.redirectUri }}</code></li>
		</ul>

		<h3>{{ 'Configure the OAuth client'|t('videos') }}</h3>
		<p>{{ '{oauthProvider} will provide you with a client ID and secret, paste them below and save.'|t('videos', { oauthProvider: gateway.oauthProviderName }) }}</p>

		{{ forms.textField({
			name: 'clientId',
			label: "Client ID"|t('videos'),
			value: (gateway.oauthProviderOptions.clientId ?? null)
		}) }}

		{{ forms.textField({
			name: 'clientSecret',
			label: "Client Secret"|t('videos'),
			value: (gateway.oauthProviderOptions.clientSecret ?? null)
		}) }}

		<div class="buttons">
			<input type="submit" class="btn submit force" value="{{ 'Save'|t('videos') }}">
		</div>
	</form>

{% endset %}
