.videos {
  margin: 14px -7px 0 -7px; }

.video {
  display: inline-block;
  overflow: hidden;
  width: 30%;
  margin: 0 7px;
  text-align: center; }

.video .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.video.sel .thumb {
  border-color: #da5a47; }

.thumb {
  position: relative;
  display: block;
  padding-top: 54.5%;
  border-radius: 6px;
  border: 3px solid transparent;
  overflow: hidden; }

.thumb img {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%; }

.thumb .duration {
  position: absolute;
  background: #333;
  display: block;
  bottom: 4px;
  right: 4px;
  line-height: 1em;
  padding: 3px 4px;
  font-size: 0.8em;
  color: #fff;
  opacity: .8;
  font-weight: bold; }

.thumb .play {
  border-radius: 100%;
  opacity: .0;
  border: 2px solid #fff;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  background: #000 url("../img/play.png") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%; }

.thumb:hover .play {
  opacity: .5; }

.thumb .play:hover {
  opacity: .7 !important;
  cursor: pointer; }

.thumb .private {
  color: #fff;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 7px;
  right: 7px;
  text-shadow: 0 0 2px #000000;
  opacity: 0.7; }

.player {
  width: 800px;
  height: 450px;
  background: #000; }

.player iframe {
  width: 100%;
  height: 100%;
  position: absolute; }

.player .error {
  width: 400px;
  position: absolute;
  margin-left: -200px;
  top: 40%;
  left: 50%; }

.explorer-container .error {
  padding: 24px; }

/*
@media (min-width:500px) {
    .videos.large .video { width: 22.5%; }
}
*/
