.videos {
  margin: 14px -7px 0 -7px;
}
.video {
  display: inline-block;
  overflow: hidden;
  width: 224px;
  height: 180px;
  margin: 0 7px;
  text-align: center;
}
.thumb {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.thumb img {
  display: block;
  width: 100%;
}
.thumb .duration {
  position: absolute;
  background: #333;
  display: block;
  bottom: 4px;
  right: 4px;
  line-height: 1em;
  padding: 3px 4px;
  font-size: 0.8em;
  color: #fff;
  opacity: .8;
  font-weight: bold;
}
.thumb .play {
  border-radius: 100%;
  opacity: .0;
  border: 2px solid #fff;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  margin-top: -14px;
  background: #000000 url('../img/play.png') center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
}
.thumb:hover .play {
  opacity: .5;
}
.thumb .play:hover {
  opacity: .7 !important;
  cursor: pointer;
}
