{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'videos/css/VideosExplorer.css' %}
{% includeJsResource 'videos/js/VideosExplorer.js' %}

{% set title = "Videos Explorer"|t %}

{% block main %}

    <main id="main" role="main">
        <div class="grid">
            <div class="item">
                <div class="pane">
                    {% include 'videos/modals/explorer' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

{% set js %}
    new Videos.Explorer();
{% endset %}

{% includeJs js %}