[submodule "libraries/videos.plugin"]
	path = libraries/videos.plugin
	url = git@github.com:dukt/videos.plugin.git
	path = videos.plugin
	url = git@github.com:dukt/videos.plugin.assets.git

[submodule "resources/lib"]
	path = resources/lib
	url = git@github.com:dukt/videos.plugin.assets.git
