@import "variables.less";
@import "../components/videos-common/css/app.less";
@import "../components/videos-common/css/field.less";

.dkv-field {
    max-width: 650px;

    .dkv-buttons {
        margin-top: 10px;
    }

    .dkv-embed {

        iframe, object {
            width: 100%;
        }
    }
}

.dkv-app {
	position: fixed;
    z-index: 1000;
}