table.data td.col-actions {
  /* 		text-align: right; */

}
input.readonly {
  background: #fafafa;
}
input.readonly:focus {
  border-color: #ccc;
  outline: none;
  webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 0px #6eb1db;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 0px #6eb1db;
}
.field.dv-hide {
  display: none;
}
.dkv-modal {
  margin: 0 -30px;
}
.dkv-modal .dkv-sidebar {
  width: 290px;
}
.dkv-modal .dkv-main {
  margin-left: 310px;
}
.dkv-player {
  display: none;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  width: 800px;
}
.dkv-player .dkv-embed {
  height: 450px;
}
.dkv-player .dkv-bottom {
  background: #fff;
  text-align: right;
  padding: 10px;
}
.dkv-player iframe,
.dkv-player object {
  width: 100%;
  height: 100%;
}
