.explorer-container {
    @apply h-full;

    .gateways {
        @apply px-2;
    }
}

.videos {
    @apply w-full;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;

    .video {
        @apply mb-4;

        &:hover,
        &.selected {
            .thumb {
                -webkit-box-shadow: 0 0 0 3px #da5a47;
                box-shadow: 0 0 0 3px #da5a47;

                .play {
                    @apply block;
                }
            }
        }
    }
}

