{% extends "videos/_layout" %}

{% block main %}

    {% set entry = craft.entries.section('videos')|first %}

    {% if entry %}

        {% set embedParams = { width: 300, height: 200 } %}

        {% set video = entry.video %}

        <article>

            <h1>{{ entry.title }}</h1>

            <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>

            {% include 'videos/_video' %}

        </article>

    {% else %}

        <p>Entry not found</p>

    {% endif %}

{% endblock main %}
