@libPath: "../videos.plugin";

.dkv-sidebar {

    color: #6C8390;


    ul li {

        h3 {
            padding-top:4px;
            padding-bottom:4px;
        }

        a {

            color: #6C8390;

            &:hover {
                color: #6C8390;
                cursor: default;
            }

            &.active {
                background: #8195A0;
            }
        }
    }
}