
// --------------------------------------------------------------------

// libPath

@libPath: "../videos.plugin";

// --------------------------------------------------------------------

// rewrite some colors as CP background is darker

@actionColor: #da5a47;
@actionColorHover: #bf503f;
@grey1:#d0d9e1;
@grey2:#9EACB8;
@grey3:#7B8A97;
@lightGrey1:#eee;
@darkGrey1:#555;

// --------------------------------------------------------------------

.dkv-sidebar {

    color: #6C8390;


    ul li {

        h3 {
            padding-top:4px;
            padding-bottom:4px;
        }

        a {

            color: #6C8390;

            &:hover {
                color: #6C8390;
                cursor: default;
            }

            &.active {
                background: #8195A0;
            }
        }
    }
}