{% if video %}

    <div class="thumb">
        <img src="{{ video.thumbnail }}" />
        <div class="duration">{{ video.duration }}</div>
        <div class="play" data-gateway="{{ video.gatewayHandle }}" data-id="{{ video.id }}"></div>
    </div>

    <div class="description">
        <p class="title"><strong title="{{ video.title }}">{{ video.title }}</strong></p>

        <ul class="light">
            <li><a class="light" href="{{ video.url }}">{{ video.url }}</a></li>
            <li>{{"By"|t}} <strong><a href="{{ video.authorUrl }}" class="light">{{ video.authorName }}</a></strong></li>
            <li>{{ video.plays }} {{ "plays"|t }}</li>
            <li><a class="icon delete dk-remove"></a></li>
        </ul>
    </div>

{% endif %}