{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set centered = true %}

{% includeJsResource "videos/js/cms.js" %}
{% includeJsResource "videos/lib/videos/js/refreshToken.js" %}

{% includeCssResource "videos/css/cp.css" %}


{% if providerClass is not defined %}{% set providerClass = null %}{% endif %}

{% if service is not defined %}
    {% if providerClass %}
        {% set service = craft.videos.getService(providerClass) %}
        {% set serviceLibrary = craft.videos.cpServiceLibrary(providerClass) %}

        {% if not service %}{% exit 404 %}{% endif %}
    {% else %}
        {% set service = null %}
    {% endif %}
{% endif %}



{% set title = "Configure "~providerClass|t %}

{% set crumbs = [
    { label: "Videos"|t, url: url('videos') },
    { label: "Settings"|t, url: url('videos/settings') },
] %}

{% set content %}

	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="videos/settings/saveService" />
		<input type="hidden" name="redirect" value="videos/settings/{{providerClass}}" />
		<input type="hidden" name="service" value="{{providerClass}}" />

        <p>
            <strong>Endpoint : </strong>
            {{actionUrl('videos/settings/serviceCallback', {providerClass:providerClass})}}
        </p>

        {#{ forms.textField({
            label: 'Client Id'|t,
            required: true,
            name: 'service[clientId]',
            value: service ? service[clientId] : null,
            errors: service ? service.errors('clientId') : null,
            disabled: ((service.token is defined and service.token|length) > 0 ? true : false)
        }) }}

        {{ forms.textField({
            label: 'Client Secret'|t,
            required: true,
            name: 'service[clientSecret]',
            value: service ? service.clientSecret : null,
            errors: service ? service.errors('clientSecret') : null,
            disabled: (service.token is defined and service.token|length > 0 ? true : false)
        }) }#}





        {% for extraParamKey, extraParam in serviceLibrary.getDefaultParameters() %}

            {% if service.params is not null %}
                {% set paramValue = attribute(service.params, extraParamKey) %}


                {{ forms.textField({
                    label: extraParam.label|t,
                    required: extraParam.required,
                    name: 'service[params]['~extraParamKey~']',
                    value: (paramValue is not null ? paramValue : null),
                    errors: service ? service.params.errors(extraParamKey) : null,
                    disabled: (service.token is defined and service.token|length > 0 ? true : false)
                }) }}


            {% else %}


                {{ forms.textField({
                    label: extraParam.label|t,
                    required: extraParam.required,
                    name: 'service[params]['~extraParamKey~']',
                    value: '',
                    disabled: (service.token is defined and service.token|length > 0 ? true : false)
                }) }}


            {% endif %}

        {% endfor %}


        {% if (service.token is defined and service.token|length == 0) or service.token is not defined %}
            <input class="btn submit" type="submit" name="connect" value="{{ 'Connect to '~providerClass|t }}">  &nbsp;
        {% else %}
            {% if serviceLibrary.supportsRefresh() %}
                <p>Token expires in <strong class="dkv-expires" data-providerclass="{{providerClass}}">{{service.tokenExpires}}</strong> seconds. It will be automatically refreshed.</p>

                <a class="btn" href="{{actionUrl('videos/settings/refreshServiceToken', {providerClass:providerClass})}}">Refresh Token</a>
            {% endif %}

            <a class="btn" href="{{actionUrl('videos/settings/resetService', {providerClass:providerClass})}}">Reset Token</a>

        {% endif %}

	</form>

{% endset %}