{% if not error %}
    {% if provider %}
        {% if provider.isConfigured() %}
            {% if account %}

                <h2 class="first">{{ gateway.name }}</h2>
                <p>{{ 'You are authenticated to {gateway} with the following account'|t({ gateway: gateway.name }) }} :</p>

                <ul>
                    <li><strong>{{ 'UID'|t }} : </strong> {{ account.uid }}</li>
                    <li><strong>{{ 'Name'|t }} : </strong> {{ account.name }}</li>
                </ul>

                <p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t }}</a></p>

            {% else %}

                <h2 class="first">{{ gateway.name }}</h2>
                <p>{{'You need to connect Craft to {gateway} in order to get started.'|t({gateway: gateway.name})}}</p>
                <p>{{"Getting errors trying to connect ?"|t}} <a href="{{url('oauth/providers/'~provider.handle)}}">{{"Check {providerName} API key & secret in OAuth settings"|t({providerName: provider.name})}}</a>.</p>
                <p><a class="btn submit" href="{{ actionUrl('videos/oauth/connect', { gateway: gateway.handle }) }}">{{"Connect to {gateway}"|t({ gateway: gateway.name }) }}</a></p>

            {% endif %}
        {% else %}

            <h2 class="first">{{'{provider} provider not configured'|t({provider: provider.name})}}</h2>
            <p>{{'Please fill API client id & secret for Analytics provider.'|t}}</p>
            <p><a class="btn" href="{{url('oauth/providers/'~provider.handle)}}">{{'{provider} OAuth settings'|t({provider: provider.name})}}</a></p>

        {% endif %}

    {% else %}

        <h2 class="first">{{'{provider} provider not found'|t({provider: gateway.oauthProvider})}}</h2>
        <p>{{'Please make sure that the {provider} provider is available.'|t({provider: gateway.oauthProvider})}}</p>
        <p><a class="btn" href="{{ url('oauth') }}">{{'OAuth settings'|t}}</a></p>

    {% endif %}
{% else %}

    <h2 class="first">{{ gateway.name }}</h2>

    <p class="error">{{ error }}</p>

    {% if token %}
        <p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t }}</a></p>
    {% endif %}

{% endif %}