{% extends "_layouts/cp" %}
{% set centered = true %}

{% includeCssResource "videos/cp/css/cp.css" %}

{% set crumbs = [
	{ label: "Videos"|t, url: url('videos') }
] %}

{% set title = "Videos Settings"|t %}


{% set content %}

	<table class="data">

		<thead>
			<tr>
				<th>Service</th>
				<th class="col-status">Status</th>
				<th class="col-actions">Actions</th>
			</tr>
		</thead>

		{% for serviceObject in craft.videos.cpServicesObjects() %}

			{% set serviceRecord = craft.videos.cpServiceRecord(serviceObject.name) %}

		    <tr>
		    	<th>
		    		{{serviceObject.name}}
		    	</th>
		    	<td class="col">
					{% if serviceRecord.token is defined and serviceRecord.token is not null %}
						<div class="status on"></div>
						Enabled
					{% else %}
						<div class="status off"></div>
						Disabled
					{% endif %}
		    	</td>

		    	<td class="col-actions">
		    		<a class="btn small" href="{{ url('videos/settings') }}/{{ serviceObject.name }}">Configure</a>

		    		{% if serviceObject.isAuthenticated() %}

						{#% if serviceObject.enabled == 1 %}
							<a class="btn small" href="{{ actionUrl('videos/settings/disableService') }}/{{ serviceObject.service_key }}">Disable</a>
						{% else %}
							<a class="btn small" href="{{ actionUrl('videos/settings/enableService') }}/{{ serviceObject.service_key }}">Enable</a>
						{% endif %#}

					{% endif %}
		    	</td>
		    </tr>

		{% endfor %}

	</table>
{% endset %}