

.dkv-video-preview {
    margin-top: 1em;


    .dkv-image {

        float: left;
        position: relative;
        line-height: 0;
        border: 1px solid #ddd;
        padding: 4px;


        span.dkv-duration {
            position: absolute;
            background: #333;
            display: block;
            bottom: 4px;
            right: 4px;
            line-height: 1em;
            padding: 3px 4px;
            font-size: 0.8em;
            color: #fff;
            opacity: .8;
            font-weight: bold;
        }


        // &:hover {

        //     .dkv-duration {
        //         background:  rgb(218, 90, 71);

        //     }
        // }

        img {

            width: 150px;
            height: 84px;


            &:hover {
                cursor: pointer;
            }
        }
    }

    .dkv-text {
        margin-left: 170px;

        .dkv-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            cursor: default;
            margin-bottom: 0;
        }

        ul {
            li {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}


.dk-buttons {
    padding-top: 10px;
    display: none;
}

@media (max-width:400px) {
    .dkv-video-preview {
        .dkv-image {

            float: none;
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }

        .dkv-text {
            margin-left: 0;
            margin-top: 0.5em;
        }
    }


}


@media (max-width:500px) {
    .dk-add-input {
        display: none;
    }

    .dk-buttons {
        display: block;
    }
}

.dkv-modal {

    width: 400px;
    height: 225px;

    iframe {
        width: 400px;
        height: 225px;
    }
}

.dkv-video {
    position: relative;

    .dk-add-input {
        font-size: .9em;
        position: absolute;
        top: 7px;
        right: 10px;
    }

    .dk-error {
        margin-bottom: 0
    }


    &:hover {

        .dk-play {
            opacity: .7;
        }
    }
}




















// MANAGER


.videos-overlay {
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.videos-modal {
    background: #fff;

    position: fixed;
    top:50%;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    height: 500px;
    margin-top: -250px;
    z-index: 2;


    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 50px -10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 50px -10px rgba(0, 0, 0, 0.25);
}

.videos-modal-error {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 10px 15px;
    width: 50%;
    text-align: center;
}

.videos-player {
    iframe {
        width: 100%;
        height: 100%;
    }
}


.dk-play {
    border-radius: 100%;
    opacity: .0;
    border: 2px solid #fff;
    width: 28px;
    height: 28px;
    margin-left: -14px;
    margin-top: -14px;
    background: #000 url('../img/play.png') center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;

    &:hover {
        opacity: .7 !important;
        cursor: pointer;
    }
}

.videos-manager {

    .dk-top {
        padding: 24px;
        height: 30px;
        border-bottom: 1px solid #fafafa;
    }

    .dk-middle {
        background: #fff;
        padding: 24px;
        height: 310px;
        overflow: auto;
    }

    .dk-bottom {

        padding: 15px 30px;
        border-top: 1px solid #fafafa;

        .dk-left {
            float: left;
        }
        .dk-right {
            text-align: right;
        }
    }

    .videos-sidebar {
        width: 200px;
        border-right: 1px solid #fafafa;
        float: left;

        .select {
            width: 100%;
            margin-bottom: 15px;
            select {
                width: 100%;
            }
        }

        ul {
            margin-left: -24px;
            margin-right: -24px;

            li {
                padding: 4px;
                padding-left: 24px;

                &:hover {
                    cursor: pointer;
                    background: #fafafa;
                }

                &.selected {
                    background: #333f4d;
                    color: #fff;
                }
            }
        }

        .dk-section {
            margin-bottom: 15px;
        }
    }

    .videos-main {
        margin-left: 200px;

        .dk-middle {
            position: relative;
        }

        .dk-top {
            position: relative;

            .search {
                margin-right: 15px;
            }

            .dk-spinner {
                position: absolute;
                right: 0;
                top: 23px;
                right: 10px;
            }
        }

    }



    .dk-error {
        &.dk-absolute {
            text-align: center;
            position: absolute;
            z-index: 1;
        }
    }


    .dk-videos {

        margin-left: -15px;

        ul {
            li {
                border-radius: 3px;
                margin-left:15px;
                margin-bottom:15px;

                width: 173px;
                overflow: hidden;

                float: left;
                text-align: center;

                // border: 1px solid #ccc;
                // background: #fafafa;

                .dk-thumb {
                    border-radius: 3px;
                    // overflow: hidden;
                    // height: 54px;
                    -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
                    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
                    padding: 0;
                    line-height: 0;
                    position: relative;

                    img {
                        width: 100%;
                    }
                }



                // horizontal/vertical center image if too large

                div.dk-thumb
                {
                    display: inline-block;
                    position: relative;
                    background: #fafafa;
                    overflow: hidden;

                    .dkv-clip-outer {

                        // w&h

                        width: 173px;
                        height: 100px;
                        position: relative;
                        display: inline-block;
                        overflow: hidden;
                        vertical-align: bottom;

                        .dkv-clip {
                            display: block;
                            position: absolute;


                            // pos

                            bottom: -50%;
                            top: -50%;
                            left: -50%;
                            right: -50%;

                            text-align: center;
                            white-space: nowrap;
                            word-break: normal;
                            margin: 0;
                            padding: 0;
                            border: 0;
                            font-size: 100%;
                            background: transparent;

                            .dkv-clip-inner {
                                display: block;
                                position: absolute;

                                // t,l,w,h

                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;

                                img {

                                    // w

                                    width: 180px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    border: 0;
                                    outline: none;
                                }

                                .dkv-vertical-align {
                                    height: 100%;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }

                .dk-title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 0.5em 8px;
                    margin-top: -0.3em;
                    font-size: 0.9em;

                    &:hover {
                        cursor: default;
                    }
                }

                &.selected {
                    background:#ddd;
                }
            }

            li:hover {
                .dk-thumb {
                    .dk-play {
                        opacity: .7;
                    }
                }
            }
        }
    }
}


.videos-manager-player {
    position: absolute;
    z-index:1;
    background: #000;
    width: 100%;
    height: 437px;
}

.dk-center {
    position: absolute;
}
