.dkv-video-preview {
  margin-top: 1em;
}
.dkv-video-preview .dkv-image {
  float: left;
  position: relative;
  line-height: 0;
  border: 1px solid #ddd;
  padding: 4px;
}
.dkv-video-preview .dkv-image span.dkv-duration {
  position: absolute;
  background: #333;
  display: block;
  bottom: 4px;
  right: 4px;
  line-height: 1em;
  padding: 3px 4px;
  font-size: 0.8em;
  color: #fff;
  opacity: .8;
  font-weight: bold;
}
.dkv-video-preview .dkv-image:hover .dkv-duration {
  background: #da5a47;
}
.dkv-video-preview .dkv-image img {
  width: 150px;
  height: 84px;
}
.dkv-video-preview .dkv-image img:hover {
  cursor: pointer;
}
.dkv-video-preview .dkv-text {
  margin-left: 170px;
}
.dkv-video-preview .dkv-text .dkv-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  margin-bottom: 0;
}
@media (max-width: 400px) {
  .dkv-video-preview .dkv-image {
    float: none;
    display: block;
  }
  .dkv-video-preview .dkv-image img {
    width: 96%;
    height: auto;
  }
  .dkv-video-preview .dkv-text {
    margin-left: 0;
    margin-top: 0.5em;
  }
}
.dkv-modal {
  width: 400px;
  height: 225px;
}
.dkv-modal iframe {
  width: 400px;
  height: 225px;
}
