.dkv-btn {
  background: #d0d9e1;
  color: #7b8a97 !important;
  padding: 5px 9px;
  text-decoration: none !important;
  border-radius: 4px;
  cursor: pointer;
}
.dkv-btn.dkv-submit {
  background-color: #da5a47;
  color: #fff;
}
table.dkv-data {
  width: 100%;
  border-spacing: 0;
}
table.dkv-data th {
  text-align: left;
}
table.dkv-data th,
table.dkv-data td {
  border-bottom: 1px dotted #ccc;
  vertical-align: middle;
  padding: 0.6em 0;
}
.status {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}
.status:before {
  content: "●";
  color: #a1a4a6;
  font-family: 'entypo';
  font-size: 25px;
  line-height: 0em;
  top: 3px;
  position: relative;
}
.status.on:before {
  color: #00AB35;
}
.status.off:before {
  color: #CD100F;
}
