#videos {
  display: flex;
  padding-bottom: 0 !important;
  margin: -24px;
  min-height: 300px;

  .v-main {
    flex-grow: 1;
    padding: 30px;

    .search {
      margin-bottom: 20px;
    }
  }
}

.videos {
  margin: 0 -10px;
  .video {
    display: inline-block;
    width: calc(33.3% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    
    .thumb {
      background: #eee;
      border-radius: 4px;
      min-height: 250px;
    }
  }
}