{% import "_includes/forms" as forms %}

{% includeCssResource "videos/css/field.css" %}

{% set js %}
    var Dukt_videos = Dukt_videos ? Dukt_videos : new Object();
    Dukt_videos.pagination_per_page = {{craft.videos.cpConfig().pagination_per_page}};
    Dukt_videos.endpointUrl = "{{ actionUrl('videos/endpoint')}}";
    Dukt_videos.resourceUrl = "{{ resourceUrl('videos') }}/";
{% endset %}

{% includeJs js %}

{% includeJsResource 'videos/components/bower_components/phpjs/functions/url/urlencode.js' %}
{% includeJsResource 'videos/components/bower_components/phpjs/functions/url/http_build_query.js' %}
{% includeJsResource 'videos/components/bower_components/angular/angular.js' %}
{% includeJsResource 'videos/components/bower_components/angular-resource/angular-resource.js' %}
{% includeJsResource 'videos/components/bower_components/bootstrap/dist/js/bootstrap.js' %}
{% includeJsResource 'videos/components/bower_components/spin.js/dist/spin.js' %}
{% includeJsResource 'videos/components/bower_components/spin.js/jquery.spin.js' %}

{% includeJsResource 'videos/js/cms.js' %}
{% includeJsResource 'videos/js/field.js' %}

{% includeJsResource 'videos/components/videos-common/js/videosApp.js' %}
{% includeJsResource 'videos/components/videos-common/js/videosApp.field.js' %}
{% includeJsResource 'videos/components/videos-common/js/videosApp.player.js' %}
{% includeJsResource 'videos/components/videos-common/js/field.js' %}
{% includeJsResource 'videos/components/videos-common/js/angular/filters.js' %}
{% includeJsResource 'videos/components/videos-common/js/angular/controllers.js' %}
{% includeJsResource 'videos/components/videos-common/js/angular/services.js' %}
{% includeJsResource 'videos/components/videos-common/js/angular/app.js' %}

<div class="dkv-field">
    <div class="dkv-input">
        {{ forms.text({
            name: name,
            id: name,
            value: videoValue
        }) }}
    </div>

    <div class="dkv-embed hidden"></div>

    <div class="dkv-buttons">
        <a class="btn dkv-add icon small hidden">Add Video</a>
         <a class="btn dkv-change small hidden"><span></span>Change Video</a>
         <a class="btn dkv-remove small hidden"><span></span>Remove Video</a>
    </div>
</div>

