{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}


{% set js %}
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
{% endset %}

{% includeJs js %}
{% includeJsResource 'videos/js/knockout-3.0.0.js' %}
{% includeJsResource 'videos/js/manager.js' %}
{% includeCssResource 'videos/css/manager.css' %}

{% set title = "Videos" %}

{% set content %}


<div class="videos-manager">

    <div class="videos-sidebar">

        <!-- Video Gateways Switch -->

        <div class="input">
            <div class="select">
                <select data-bind="
                    options: gateways,
                    value: selectedGateway,
                    optionsText: 'name',
                    optionsValue: 'handle'">
                </select>
            </div>
        </div>


        <!-- Sections -->

        <div data-bind="foreach: gateways">
            <!-- ko if: (handle == $root.selectedGateway()) -->

                <!-- ko if: $data.sections -->

                    <div data-bind="foreach: $data.sections">

                        <h2 data-bind="text: name"></h2>

                        <!-- ko if: $data.childs -->

                            <ul data-bind="foreach: $data.childs">
                                <li data-bind="text: name,
                                               css: { selected: url == $root.selectedSectionItem() },
                                               click: $root.goToSectionItem"></li>
                            </ul>

                        <!-- /ko -->
                    </div>

                <!-- /ko -->

            <!-- /ko -->
        </div>
    </div>

    <div class="videos-main">
        <div class="search">
            <input class="text fullwidth" data-bind="value: searchQuery, valueUpdate: 'keyup', event:{keyup:doSearch}" />
        </div>


        <ul class="dk-videos" data-bind="foreach: videos">
            <li>
                {# <div class="dk-thumb"><img src="http://placehold.it/300x169"></div> #}
                <div class="dk-thumb"><img data-bind="attr: {src: thumbnailSource}"></div>
                <h4 class="dk-title" data-bind="text: title"></h4>
            </li>
        </ul>
    </div>

</div>

{% endset %}