
{% if not provider %}

	<p>{{ "Go to {link} in order to configure this provider with your API client id & secret."|t({link:'<a href="'~url('oauth/settings/'~providerOpts.handle)~'">'~'OAuth settings'|t~'</a>'})|raw }}</p>

{% else %}

	{% set token = craft.oauth.getSystemToken(providerOpts.handle, 'videos.'~providerOpts.handle) %}

	{% if token %}
		{% if not token.getRealToken %}
			{% set token = false %}
		{% endif %}
	{% endif %}

	{% if token %}

		{% set account = craft.oauth.getAccount(providerOpts.handle, 'videos.'~providerOpts.handle) %}


		{% if account.image is defined %}
			<img height="100" src="{{ account.image }}" alt="">
		{% endif %}

		<ul>


			{% if account.name is defined %}
				<li><span>{{account.name}}</span></li>
			{% endif %}

			{% if account.uid is defined %}
				<li class="light">{{account.uid}}</li>
			{% endif %}
		</ul>

		<p>
			<a class="btn small" href="{{craft.oauth.disconnect(providerOpts.handle, 'videos.'~providerOpts.handle)}}">{{"Disconnect"|t}}</a>
		</p>

	{% else %}

		<p>{{"You need to connect Craft with the video service."|t}}</p>

		{% if providerOpts.scope is defined %}
			{% set scope = providerOpts.scope %}
		{% else %}
			{% set scope = null %}
		{% endif %}


		<a class="btn submit" href="{{craft.oauth.connect(providerOpts.handle, scope, 'videos.'~providerOpts.handle)}}">{{"Connect"|t}}</a>

	{% endif %}
{% endif %}
