{% if not provider %}
	<p>Go to <a href="{{url('oauth/settings/'~providerOpts.handle)}}">OAuth settings</a> in order to configure this provider with your API client id &amp; secret.</p>

{% else %}

	{% set token = craft.oauth.getSystemToken(providerOpts.handle, 'videos.'~providerOpts.handle) %}

	{% if token %}
		{% if not token.getRealToken %}
			{% set token = false %}
		{% endif %}
	{% endif %}

	{% if token %}

		{% set account = craft.oauth.getAccount(providerOpts.handle, 'videos.'~providerOpts.handle) %}

		<ul>
			{% if account.uid is defined %}
				<li><strong>UID :</strong> {{account.uid}}</li>
			{% endif %}

			{% if account.nickname is defined %}
				<li><strong>Nickname :</strong> {{account.nickname}}</li>
			{% endif %}

			{% if account.name is defined %}
				<li><strong>Name :</strong> {{account.name}}</li>
			{% endif %}

			{% if account.email is defined %}
				<li><strong>Email :</strong> {{account.email}}</li>
			{% endif %}
		</ul>

		<p>
			<a class="btn small" href="{{craft.oauth.disconnect(providerOpts.handle, 'videos.'~providerOpts.handle)}}">Disconnect</a>
		</p>

	{% else %}

		<p>You need to connect Craft with the video service.</p>

		{% if providerOpts.scope is defined %}
			{% set scope = providerOpts.scope %}
		{% else %}
			{% set scope = null %}
		{% endif %}
		<div class="buttons">
			<a class="btn submit" href="{{craft.oauth.connect(providerOpts.handle, scope, 'videos.'~providerOpts.handle)}}">Connect</a>
		</div>
	{% endif %}
{% endif %}