{% set providerOpts = {
	name:"YouTube",
	handle:"google",
	scope: [
	    'https://www.googleapis.com/auth/userinfo.profile',
	    'https://www.googleapis.com/auth/userinfo.email',
	    'https://www.googleapis.com/auth/youtube',
	    'https://www.googleapis.com/auth/youtube.readonly'
    ]

} %}

{% set provider = craft.oauth.getProvider(providerOpts.handle, 'videos.'~providerOpts.handle) %}

{% include 'videos/settings/_oauth' %}

{{ forms.textField({
    label: "Developer Key"|t,
    name: 'youtubeParameters[developerKey]',
    value: (settings.youtubeParameters['developerKey'] is defined ? settings.youtubeParameters['developerKey'] : '')
}) }}


<div class="buttons">
	<input type="submit" class="btn small submit force" value="Save">
</div>