{% import "_includes/forms" as forms %}

{% includeCssResource 'videos/css/disableSave.css' %}

{% if craft.oauth is not defined %}

	<h2 class="first">{{"OAuth Not Installed"|t}}</h2>


	{% set oauth = craft.plugins.getPlugin('oauth', false) %}

	{% if oauth %}
		{% if not oauth.isInstalled %}
			<p>{{"OAuth plugin is present but not installed. Please install &amp; enable it."|t}}</p>
		{% elseif not oauth.isEnabled %}
			<p>{{"OAuth is installed but is disabled. Please enable it."|t}}</p>
		{% else %}
			{# OAuth READY #}
		{% endif %}

		<hr />

		<div class="buttons">
			<a class="btn" href="{{url('settings/plugins')}}">{{"Manage plugins"|t}}</a>
		</div>
	{% else %}
		<p>{{"GitHub plugin requires OAuth plugin for Craft."|t}}</p>

		<hr />

		<div class="buttons">
			<a class="btn" target="_blank" href="https://dukt.net/craft/oauth/">{{"Download OAuth plugin"|t}}</a>
		</div>
	{% endif %}

{% else %}

	<h2 class="first">YouTube</h2>

	{% include 'videos/settings/_youtube' %}

	<hr>

	<h2>Vimeo</h2>

	{% include 'videos/settings/_vimeo' %}
	<hr>
{% endif %}