{% extends "videos/_layout" %}


{% block main %}

    <h1>Channel</h1>

    <hr />

    {% set videosResponse = craft.videos.api({
        gateway: 'youtube',
        method: 'playlistItems',
        query: {
            playlistId: 'PL511691D5D012C6CC',
            part: 'snippet,id',
        }
    }).send() %}

    {% set videos = videosResponse.data.items %}

    {% for video in videos %}

        {% set title = video.snippet.title %}
        {% set imgUrl = video.snippet.thumbnails.default.url %}
        {% set url = 'https://www.youtube.com/watch?v='~video.snippet.resourceId.videoId %}

        <h2>{{ title }}</h2>

        <p><a href="{{ url }}">{{ url }}</a></p>

        <a href="{{ url }}">
            <img src="{{ imgUrl }}" alt="">
        </a>

        <hr>
    {% endfor %}



{% endblock main %}
