{% extends "videos/_layout" %}


{% block main %}

    <h1>Hello !</h1>

    <p>Welcome in the Videos example application. These template will show you how to use Videos features on your Craft website.</p>

    <hr>

    <h3>Setup Instructions</h3>

    <p>Some section of this example application require specific setup.</p>

    <h4>Video Details</h4>

    <p><em>No setup required</em></p>

    <h4>Video Field</h4>

    <ol>
        <li>Create a new <strong>Videos field</strong> and call it <code>video</code>.</li>
        <li>Create a new global and call it <code>Videos Demo</code>.</li>
        <li>Add the <code>video</code> field to Videos Demo global.</li>
    </ol>

    <h4>Video Field with Matrix</h4>

    <ol>
        <li>Create a new <strong>Matrix field</strong> and call it <code>videos</code>.</li>
        <li>Add a new <strong>block type</strong> to this Matrix field and call it <code>video</code>.</li>
        <li>Add a new <strong>field</strong> to this block type and call it <code>video</code> (yep, again).</li>
        <li>Create a new <strong>global</strong> and call it <code>Videos Demo</code>.</li>
        <li>Add <code>videos</code> Matrix field to Videos Demo global.</li>
    </ol>


{% endblock main %}
