<div class="dv-box">

	<div class="dv-sidebar">

		<div class="select">

			<select ng-model="serviceKey" ng-change="serviceChange()" class="fieldtoggle" ng-options="serviceI as service.service_name for (serviceI,service) in services">

	        </select>

    	</div>

		<ul>
			<li><a href="#/{{serviceKey}}/search" ng-class="getClass('search')">Explore</a></li>
			<li><a href="#/{{serviceKey}}/myvideos" ng-class="getClass('myvideos')">My Uploads</a></li>
			<li><a href="#/{{serviceKey}}/favorites" ng-class="getClass('favorites')">Favorites</a></li>
			<li>
				<a href="#/{{serviceKey}}/playlists" ng-class="getClass('playlists')">Playlists</a>

				<ul>
					<li ng-repeat="playlist in currentService.playlists">
						<a href="#/{{serviceKey}}/playlist/{{playlist.id}}/">{{playlist.title}}</a>
					</li>
				</ul>
			</li>
		</ul>
		
	</div>

	<div class="dv-main">

		<div class="toolbar">
		    <div class="spinner hidden"></div>

			<div class="btngroup">
				<a class="btn thumbs" href="javascript:;" title="Display files as thumbnails" data-icon="⌗"></a>
				<a class="btn list active" href="javascript:;" title="Display files in a list" data-icon="•"></a>
			</div>

			<div class="search">
		        <input type="text" ng-model="searchQuery" ng-change="search()" class="text nicetext fullwidth" data-hint="Search videos" placeholder="Search videos">
		    </div>

		</div>

		<div class="dv-empty">
			<p>No videos</p>
		</div>
		
		<ul class="dv-videos">
			<li ng-repeat="video in videos" ng-class="{active: isSelected(video)}">
				<a ng-click="play(video)"><div><img ng-src="{{video.thumbnail_large}}"></div></a>
			</li>
		</ul>

		<p class="dv-video-more"><a class="btn" ng-click="moreVideos()">Load more videos</a></p>
	</div>

	<div class="clear"></div>
</div>