<div class="dkv-main">

	<!-- toolbar -->

	<div class="dkv-toolbar">
	    <div class="dkv-spinner spinner"></div>

		<div class="dkv-search search">
	        <input type="text" ng-model="searchQuery" ng-change="search()" class="text nicetext fullwidth" data-hint="Search videos" placeholder="Search videos">
	    </div>
	</div>


	<!-- content -->

	<div class="dkv-content">

		<div class="dkv-empty">
			<p>No videos</p>
		</div>


		<div class="dkv-videos">
			<ul>
				<li ng-repeat="video in videos" ng-class="{active: isSelected(video)}">
					<a ng-click="play(video)">
						<div class="dkv-videos-thumb">
							<span class="dkv-clip-outer">
								<span class="dkv-clip">
									<span class="dkv-clip-inner">
										<img ng-src="{{video.thumbnails[1]}}">
										<span class="dkv-vertical-align"></span>
									</span>
								</span>
							</span>
						</div>

						<h3 class="dkv-title">{{video.title}}</h3>

						<p class="dkv-subtitle">
							<span class="dkv-author">{{video.authorName}}</span>
							<span class="dkv-date">{{(video.date * 1000) | date:'MMM d, y'}}</span>
						</p>
					</a>

				</li>
			</ul>

			<div ng-view>Loading Angular...</div>

			<p class="dkv-video-more"><a class="btn" ng-click="moreVideos()">Load more videos</a></p>
		</div>
	</div>

</div>