<div class="dv-sidebar">				
	{{selectServiceKey}}
	<div class="select">
		
		<select ng-model="serviceKey" ng-change="serviceChange()" class="fieldtoggle" ng-options="serviceI as service.name for (serviceI,service) in services">

        </select>

	</div>

	<ul>
		<!-- <li><a href="#/{{serviceKey}}/search" ng-class="getClass('search')">Explore</a></li> -->
		<li>
			<h3>Library</h3>

			<ul>
				<li><a href="#/{{serviceKey}}/uploads" ng-class="getClass('uploads')">Uploads</a></li>
				<li><a href="#/{{serviceKey}}/favorites" ng-class="getClass('favorites')">Favorites</a></li>
			</ul>
		</li>
		<li>
			<h3>Playlists</h3>

			<ul>
				<li ng-repeat="playlist in currentService.playlists">
					<a href="#/{{serviceKey}}/playlist/{{playlist.id}}/">{{playlist.title}}</a>
				</li>
			</ul>
		</li>
	</ul>
	
</div>