{% extends "_layouts/cp" %}
{% set centered = true %}
{% includeCssResource "support/css/default.css" %}
{% set service = blx.duktVideos.services( servicekey ) %}

{% set title = "Dukt Videos"|t %}

{% set header %}
    <h1>Configure {{ service.service_name }}</h1>

	<ul class="left">
		<li><a class="backbtn" href="{{ url('duktvideos') }}">{{ title }}</a></li>
	</ul>
{% endset %}

{% set content %}
	{% if service.is_authenticated() %}
		<form method="post" action="" accept-charset="UTF-8">
			<input type="hidden" name="action" value="duktvideos/configure/resetService" />
			<input type="hidden" name="redirect" value="duktvideos/configure/{{service.service_key}}" />
			<input type="hidden" name="service" value="{{service.service_key}}" />
			
			{% for option_key,option_value in service.api_options %}
				<div class="field">
					<div class="heading">
						<label>{{ option_key }}</label>				
					</div>
					
					<div class="input">
						<input class="text fullwidth" readonly="readonly" name="options[{{ service.service_key }}_{{ option_key }}]" type="text" value="{{option_value}}" />
					</div>
				</div>
			{% endfor %}
			
			<input class="btn" type="submit" value="{{ 'Reset authentication'|t }}">
		</form>
	{% else %}


		<form method="post" action="" accept-charset="UTF-8">
			<input type="hidden" name="action" value="duktvideos/configure/saveService" />
			<input type="hidden" name="redirect" value="duktvideos/configure/{{service.service_key}}" />
			<input type="hidden" name="service" value="{{service.service_key}}" />
			
			{% for option_key,option_value in service.api_options %}
				<div class="field">
					<div class="heading">
						<label>{{ option_key }}</label>				
					</div>
					
					<div class="input">
						<input class="text fullwidth" name="options[{{ service.service_key }}_{{ option_key }}]" type="text" value="{{option_value}}" />
					</div>
				</div>
			{% endfor %}
			
			<input class="btn submit" type="submit" value="{{ 'Connect to'|t }} {{service.service_name}}">
		</form>
	{% endif %}

{% endset %}