{% extends "_layouts/cp" %}
{% set centered = true %}

{% includeCssResource "videos/css/angular.css" %}
{% includeCssResource "videos/css/common.css" %}
{% includeCssResource "videos/css/mcp.css" %}

{% set js %}
	var Dukt_videos = Dukt_videos ? Dukt_videos : new Object();
	Dukt_videos.pagination_per_page = {{craft.videos.pagination_per_page}};
{% endset %}

{% includeJs js %}

{% includeJsResource "videos/js/mcp.js" %}

{% includeJsResource "videos/angular/src/angular.js" %}
{% includeJsResource "videos/angular/js/app.js" %}
{% includeJsResource "videos/angular/js/controllers.js" %}

{% set title = "Videos"|t %}

{% set extraPageHeaderHtml %}
	<a class="btn settings icon" href="{{ url('videos/settings') }}" title="{{ 'Settings'|t }}"></a>
{% endset %}


{% set content %}

	{% include 'videos/modal' %}


{% endset %}