<div class="dv-modal">

    <div ng-controller="ServicesListCtrl" class="dv-controller">

        <div ng-include src="'{{ resourceUrl('videos/angular/partials/top.html') }}'"></div>

        <div class="dv-getStarted">
            Get started by <a href="{{ url('videos/settings') }}">setting up a video service</a>.
        </div>

        <div class="dv-box dv-loading">

            <div class="spinner dv-box-spinner"></div>

            <div ng-include src="'{{ resourceUrl('videos/angular/partials/sidebar.html') }}'"></div>
            <div ng-include src="'{{ resourceUrl('videos/angular/partials/main.html') }}'"></div>

            <div class="clear"></div>
        </div>

        <div ng-include src="'{{ resourceUrl('videos/angular/partials/player.html') }}'"></div>

    </div>


</div>