{% import "_includes/forms" as forms %}

<div class="dkv-video">
    {{ forms.text({
        id:id,
        name: name,
        placeholder: "Enter a video URL from YouTube or Vimeo "|t,
        value: value
    }) }}


    <div class="dk-buttons">
        <a href="#" class="btn small icon dk-add">Browse videos...</a>
    </div>

    <div class="dk-spinner spinner hidden"></div>

    <div class="dkv-preview-inject">{{ preview|raw }}</div>

    <a href="#" class="small icon dk-add dk-add-input">Browse videos...</a>

    <p class="error dk-error hidden"></p>

    <div class="clear"></div>

</div>