{% if video %}
    <div class="dkv-video-preview">

        <div class="dkv-image">
            <div class="dk-thumb">

                <span class="dkv-clip-outer">
                    <span class="dkv-clip">
                        <span class="dkv-clip-inner">
                            <img src="{{ video.thumbnail }}" />
                            <span class="dkv-vertical-align"></span>
                        </span>
                    </span>
                </span>

                <span class="dkv-duration">{{ video.duration }}</span>

                <div class="dk-play"></div>
            </div>
        </div>

        <div class="dkv-text">
            <p class="dkv-title"><strong title="{{ video.title }}">{{ video.title }}</strong></p>

            <ul class="light">
                <li><a class="light" href="{{ video.url }}">{{ video.url }}</a></li>
                <li>{{"By"|t}} <strong><a href="{{ video.authorUrl }}" class="light">{{ video.authorName }}</a></strong></li>
                <li>{{ video.plays }} {{ "plays"|t }}</li>
                <li><a href="#" class="icon delete dk-remove"></a></li>
            </ul>
        </div>
    </div>
{% endif %}