{% if video %}
    <div class="dkv-video-preview">

        <div class="dkv-image">
            <span class="dk-play"></span>
            <span class="dkv-duration">{{ video.duration }}</span>
            <img src="{{ video.thumbnail }}" alt="{{ video.title }}" title="{{ video.title }}" />
        </div>

        <div class="dkv-text">
            <p class="dkv-title"><strong title="{{ video.title }}">{{ video.title }}</strong></p>

            <ul class="light">
                <li><a class="light" href="{{ video.url }}">{{ video.url }}</a></li>
                <li>By <strong><a href="{{ video.authorUrl }}" class="light">{{ video.authorName }}</a></strong></li>
                <li>{{ video.plays }} views</li>
                <li><a href="#" class="icon delete dk-remove"></a></li>
            </ul>
        </div>
    </div>
{% endif %}