

@import "sidebar.less";
@import "main.less";
@import "player.less";


// --------------------------------------------------------------------

// basics

.dkv-clear {
    clear: both;
}

// --------------------------------------------------------------------

// Get Started

.dkv-getStarted {
    display: none;
    text-align: center;
    padding: 3em;
    color:#333;
    font-style: italic;
    font-size: 1.2em;
}

// --------------------------------------------------------------------

// modal

.dkv-modal {
    // margin-left: -30px;
    // margin-right: -30px;
    // position: relative;

    .dkv-box-spinner {
        display: none;
    }

    &.dkv-loading {
        height: 100px;
        position: relative;

        & > * {
            display: none;
        }

        & > .dkv-box-spinner {
            display: block;
            position: relative;
            left:50%;
            top: 30%;

        }
    }
}

// --------------------------------------------------------------------

// overlay

 .dkv-overlay {
    display: none;
    width: 200px;
    height: 200px;

    background:#fff;
    opacity: .9;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: fixed;
    z-index: 1;
 }

