.dkv-sidebar {
  width: 200px;
  float: left;
  padding-bottom: 1em;
}
.dkv-sidebar .select {
  margin-left: 30px;
  margin-bottom: 30px;
  display: block;
}
.dkv-sidebar .select select {
  width: 100%;
}
.dkv-sidebar h3 {
  text-transform: uppercase;
  font-size: 0.9em;
  padding-left: 30px;
}
.dkv-sidebar ul {
  margin-bottom: 2em;
}
.dkv-sidebar ul li a {
  display: block;
  padding: 4px;
  padding-left: 30px;
  color: #555;
}
.dkv-sidebar ul li a:hover {
  text-decoration: none;
  color: #5295ff;
}
.dkv-sidebar ul li a.active {
  background: #555;
  color: #fff;
}
.dkv-sidebar ul li a.active:hover {
  text-decoration: none;
  color: #fff;
  cursor: default;
}
.dkv-sidebar ul li ul li a {
  padding-left: 50px;
}
.dkv-main {
  margin-left: 220px;
  margin-right: 10px;
}
.dkv-main .dkv-toolbar {
  margin-right: 30px;
  margin-bottom: 30px;
}
.dkv-main .dkv-toolbar .dkv-spinner {
  float: right;
}
.dkv-main .dkv-toolbar .dkv-search {
  margin-right: 40px;
}
.dkv-main .dkv-video-more {
  display: none;
  clear: both;
  padding-bottom: 20px;
}
.dkv-main .dkv-empty {
  display: none;
  text-align: center;
  padding: 5em 0 8em 0;
  color: #aaa;
}
.dkv-main .dkv-videos {
  overflow: auto;
  /* scrollbar */

}
.dkv-main .dkv-videos::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
}
.dkv-main .dkv-videos::-webkit-scrollbar-thumb {
  border: 2px solid #aaa;
  /* should match background, can't be transparent */

  background-color: #aaa;
}
.dkv-main .dkv-videos ul li {
  background: #fff;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  padding: 5px;
  border: 1px solid #eee;
  display: block;
  width: 240px;
  overflow: hidden;
}
.dkv-main .dkv-videos ul li a:hover {
  text-decoration: none;
}
.dkv-main .dkv-videos ul li a:hover img {
  opacity: .8;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb {
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
  border-color: #aaa;
  border-width: 0px;
  -moz-border-radius: 1%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
  border-style: solid;
  -moz-box-shadow: 0px 1px 0px #ffffff;
  -webkit-box-shadow: 0px 1px 0px #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  background: #000;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb .dkv-clip-outer {
  width: 240px;
  height: 137px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb .dkv-clip-outer .dkv-clip {
  display: block;
  position: absolute;
  bottom: -100px;
  top: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
  white-space: nowrap;
  word-break: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb .dkv-clip-outer .dkv-clip .dkv-clip-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb .dkv-clip-outer .dkv-clip .dkv-clip-inner img {
  width: 244px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
}
.dkv-main .dkv-videos ul li a div.dkv-videos-thumb .dkv-clip-outer .dkv-clip .dkv-clip-inner .dkv-vertical-align {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.dkv-main .dkv-videos ul li a .dkv-title {
  clear: left;
  margin: 0;
  padding: 0 10px;
  padding-top: 10px;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.dkv-main .dkv-videos ul li a .dkv-subtitle {
  font-size: 0.85em;
  margin: 0;
  padding: 0 10px;
  padding-bottom: 5px;
  color: #ccc;
}
.dkv-main .dkv-videos ul li a .dkv-subtitle .dkv-author {
  font-weight: bold;
}
.dkv-player {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.dkv-player .dkv-bottom .dkv-favorite {
  background: #ff0000 url("../images/favorite.png") no-repeat;
  text-align: center;
  white-space: nowrap;
  display: block;
  text-indent: -100% !important;
  overflow: hidden;
  color: red;
  float: left;
  width: 23px;
  height: 21px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-left: 6px;
}
.dkv-player .dkv-bottom .dkv-favorite.dkv-on {
  background-position: -23px 0;
}
.dkv-clear {
  clear: both;
}
.dkv-getStarted {
  display: none;
  text-align: center;
  padding: 3em;
  color: #333;
  font-style: italic;
  font-size: 1.2em;
}
.dkv-modal .dkv-box-spinner {
  display: none;
}
.dkv-modal.dkv-loading {
  height: 100px;
  position: relative;
}
.dkv-modal.dkv-loading > * {
  display: none;
}
.dkv-modal.dkv-loading > .dkv-box-spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 30%;
}
.dkv-overlay {
  display: none;
  width: 200px;
  height: 200px;
  background: #fff;
  opacity: .9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
