{% import "_includes/forms" as forms %}

<h3>{{ 'Create the OAuth application'|t('videos') }}</h3>
<p>{{ 'Go to the {link} and create a new app by clicking the “Create a new app” button, or use one of your existing apps.'|t('videos', {link: '<a href="https://developer.vimeo.com/apps">'~'Vimeo API Console'|t('videos')~'</a>'})|raw }}</p>
<p>{{ "Under the Your App → OAuth2 section,  add the following callback URL."|t('videos') }}</p>

<ul class="bullets">
	<li><strong>Javascript Origin:</strong> <code>{{ javascriptOrigin }}</code></li>
	<li><strong>Redirect URI:</strong> <code>{{ redirectUri }}</code></li>
</ul>

<h3>{{ 'Configure the OAuth client'|t('videos') }}</h3>
<p>{{ 'Once the OAuth client is created, Vimeo will provide you with a client ID and secret.'|t('videos') }}</p>
<p>{{ ("Copy the client ID & secret from the <a href=\"https://developer.vimeo.com/apps\">"~'Vimeo API Console'|t('videos')~"</a> under the Your App → OAuth2 section, and paste them in the <code>craft/config/videos.php</code> config file.")|raw }}</p>

{{ forms.textField({
	name: 'clientId',
	label: "Client ID"|t('videos'),
	value: (oauthProviderOptions.clientId ?? null)
}) }}

{{ forms.textField({
	name: 'clientSecret',
	label: "Client Secret"|t('videos'),
	value: (oauthProviderOptions.clientSecret ?? null)
}) }}


{#
{% if isOauthProviderConfigured %}

	{% if gateway.hasToken() and account %}
		<p>{{ 'You are authenticated to {gateway} with the following account'|t('videos', { gateway: gateway.name }) }} :</p>
		<ul>
			<li><strong>{{ 'UID'|t('videos') }} : </strong> {{ account.id }}</li>
			<li><strong>{{ 'Name'|t('videos') }} : </strong> {{ account.name }}</li>
		</ul>
		<p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t('videos') }}</a></p>
	{% else %}

		{% if error %}
			<p class="error">{{ error }}</p>
			<p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t('videos') }}</a></p>
		{% else %}

			<h3>{{ 'Create the OAuth application'|t('videos') }}</h3>
			<p>{{ 'Go to the {link} and create a new app by clicking the “Create a new app” button, or use one of your existing apps.'|t('videos', {link: '<a href="https://developer.vimeo.com/apps">'~'Vimeo API Console'|t('videos')~'</a>'})|raw }}</p>
			<p>{{ "Under the Your App → OAuth2 section,  add the following callback URL."|t('videos') }}</p>

			<ul class="bullets">
				<li><strong>Javascript Origin:</strong> <code>{{ javascriptOrigin }}</code></li>
				<li><strong>Redirect URI:</strong> <code>{{ redirectUri }}</code></li>
			</ul>

			<h3>{{ 'Configure the OAuth client'|t('videos') }}</h3>
			<p>{{ 'Once the OAuth client is created, Vimeo will provide you with a client ID and secret.'|t('videos') }}</p>
			<p>{{ ("Copy the client ID & secret from the <a href=\"https://developer.vimeo.com/apps\">"~'Vimeo API Console'|t('videos')~"</a> under the Your App → OAuth2 section, and paste them in the <code>craft/config/videos.php</code> config file.")|raw }}</p>

			{{ forms.textField({
				readonly: true,
				label: "Client ID"|t('videos'),
				value: (oauthProviderOptions.clientId ?? null)
			}) }}

			{{ forms.textField({
				readonly: true,
				label: "Client Secret"|t('videos'),
				value: (oauthProviderOptions.clientSecret ?? null)
			}) }}

			<p><a class="btn submit" href="{{ actionUrl('videos/oauth/connect', { gateway: gateway.handle }) }}">{{"Connect to {gateway}"|t('videos', { gateway: gateway.name }) }}</a></p>
		{% endif %}

	{% endif %}

{% else %}
	<h2 class="first">{{'{provider} not configured'|t('videos', {provider: gateway.getOauthProviderName()})}}</h2>
	<p>{{'The Vimeo gateway is not configured.'|t('videos')|raw }}</p>
	<p>{{'Please set Vimeo’s OAuth API client id & secret in the <code>craft/config/videos.php</code> file.'|t('videos')|raw }}</p>
{% endif %}
#}
