{% import "_includes/forms" as forms %}


{% if isOauthProviderConfigured %}

	<img src="{{ gateway.getIconUrl() }}" width="36" />

	<h2 class="first">{{ gateway.name }}</h2>


	{% if gateway.hasToken() and account %}
		<p>{{ 'You are authenticated to {gateway} with the following account'|t('app', { gateway: gateway.name }) }} :</p>
		<ul>
			<li><strong>{{ 'UID'|t('app') }} : </strong> {{ account.id }}</li>
			<li><strong>{{ 'Name'|t('app') }} : </strong> {{ account.name }}</li>
		</ul>
		<p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t('app') }}</a></p>
	{% else %}

		{% if error %}
			<p class="error">{{ error }}</p>
			<p><a class="btn small" href="{{ actionUrl('videos/oauth/disconnect', { gateway: gateway.handle }) }}">{{ 'Disconnect'|t('app') }}</a></p>
		{% else %}

			<h3>{{ 'Create the OAuth application'|t('videos') }}</h3>
			<p>{{ 'Go to the {link} and create a new app by clicking the “Create a new app” button, or use one of your existing apps.'|t('videos', {link: '<a href="https://developer.vimeo.com/apps">'~'Vimeo API Console'|t('videos')~'</a>'})|raw }}</p>
			<p>{{ "Under the Your App → OAuth2,  add the following callback URL."|t('videos') }}</p>

			{{ forms.textField({
				readonly: true,
				label: "App URL",
				value: (javascriptOrigin ?? null)
			}) }}

			{{ forms.textField({
				readonly: true,
				label: "App Callback URL",
				value: (redirectUri ?? null)
			}) }}

			<h3>{{ 'Configure the OAuth client'|t('videos') }}</h3>
			<p>{{ 'Once the OAuth client is created, Vimeo will provide you with a client ID and secret.'|t('videos') }}</p>
			<p>{{ ("Copy the client ID & secret from the <a href=\"https://developer.vimeo.com/apps\">"~'Vimeo API Console'|t('videos')~"</a> under the API Manager → Credentials tab, and paste them in the <code>craft/config/videos.php</code> config file.")|raw }}</p>

			{{ forms.textField({
				readonly: true,
				label: "Client ID",
				value: (oauthProviderOptions.clientId ?? null)
			}) }}

			{{ forms.textField({
				readonly: true,
				label: "Client Secret",
				value: (oauthProviderOptions.clientSecret ?? null)
			}) }}

			<p><a class="btn submit" href="{{ actionUrl('videos/oauth/connect', { gateway: gateway.handle }) }}">{{"Connect to {gateway}"|t('app', { gateway: gateway.name }) }}</a></p>
		{% endif %}

	{% endif %}

{% else %}
	<h2 class="first">{{'{provider} provider not configured'|t('app', {provider: gateway.getOauthProviderName()})}}</h2>
	<p>{{'Please fill API client id & secret for this provider.'|t}}</p>
{% endif %}