{% extends "videos/_layout" %}

{% block main %}


    <h1>Video Field with Matrix</h1>

    <hr>

    <div class="row">
        {% for videoRow in videosDemo.videos %}

            {% set video = videoRow.video %}

            {% if video %}

                <div class="col-xs-6 col-md-2">

                    <a href="{{ video.url }}" data-remote="{{ video.embedUrl({autoplay:1}) }}" data-toggle="lightbox">
                        <img class="img-responsive" src="{{ video.thumbnail }}" />
                    </a>

                </div>

            {% endif %}

        {% endfor %}
    </div>

    <hr />

    <p>This example uses <a href="https://github.com/ashleydw/lightbox">lightbox module</a> for Bootstrap by <a href="https://github.com/ashleydw">@ashleydw</a></p>


    <script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>

    <script type="text/javascript">
        $(document).ready(function ($) {

            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    always_show_close: false,
                    onShown: function() {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    }
                });
            });
        });
    </script>

{% endblock main %}
